body {
  background-color: darkgray;
}
header {
  background-color: gray;
}

main {
  background-color: beige;
  width: 75%;
  float: left;
  text-align: center;
}

aside {
  background-color: cadetblue;
  width: 22%;
  float: right;
  text-align: center;
}
#dog {
  width: 200px;
  float: right;
  padding: 8px;
  margin: 5px;
}
#dog-pup {
  width: 200px;
  height: 150px;
  float: left;
  padding: 1px;
  margin: 8px;
}
footer {
  clear: both;
  padding: 15px;
}
aside ul li {
  list-style-type: circle;
  padding: 5%;
  text-align: left;
}
